player-connection-mode=Connect
player-connection-guid=1356548057
player-connection-debug=0
player-connection-project-name=DouyinWorldDebugger
player-connection-wait-timeout=-1
player-connection-ip=10.76.214.215
profiler-enable=1
memorysetup-main-allocator-block-size=2097152
memorysetup-thread-allocator-block-size=2097152
memorysetup-gfx-main-allocator-block-size=2097152
memorysetup-gfx-thread-allocator-block-size=2097152
memorysetup-cache-allocator-block-size=2097152
memorysetup-bucket-allocator-block-size=2097152
memorysetup-profiler-bucket-allocator-block-size=2097152
memorysetup-temp-allocator-size-main=2097152
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
